body, html {
  margin: 0;
  padding: 0;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  box-shadow: #0007 10px 10px 30px ;
}

button {
  margin: 2em 0;
  padding: 6px 10px;
  border: 2px solid rgb(109, 109, 109);
  box-shadow: rgb(177, 177, 177) 5px 5px 8px;
  color: black;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.02em;
  font-family: monospace;
}

button:hover,
button:focus {
  background-color: black;
  color: white;
  transition: 0.3s ease-in-out;
}
.control-btns-container{
  position: relative;
  padding: 20px;
  margin: 2em;
}
.up,.down{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.up{
  top:-20px;
  
}
.down{
  bottom: -20px;
}