body, html {
  margin: 0;
  padding: 1em 0;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(27, 133, 92);
}

h1,
h2,
span {
  color: white;
  padding: 0;
}

canvas,
button {
  /* box-shadow: black 10px 10px 30px; */
  box-shadow: rgb(22, 21, 21) 5px 5px 8px;
}

button {
  margin: 1.5em 0;
  padding: 5px 8px;
  border: 2px solid rgb(121, 120, 120);
  color: black;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.02em;
  font-family: monospace;
}

